/* Navigatie bar */
.nav_class * {
  margin: 0;
  padding: 0;
}

ul.nav_class {
  list-style: none;
  line-height: 1;
  overflow: visible !important;
}

ul.nav_class:after {
  margin: 0;
  padding: 0;
  content: " ";
  display: block;
  height: 0px;
  clear: both;
}

ul.nav_class li {
  float: left;
  display: inline;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

ul.nav_class li a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #00b4cc;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}

ul.nav_class li a:hover,
ul.nav_class li a.hoverover {
  background: #00b4cc;
  color: #fff;
}

ul.nav_class ul {
  position: absolute;
  display: none;
  top: 100%;
  border: 1px solid #ccc;
}

ul.nav_class li:hover > ul {
  display: block;
}

ul.nav_class ul li {
  z-index: 72;
  float: none;
  min-width: 160px;
  background: #f5f5f5;
  text-shadow: none;
}

ul.nav_class ul li a {
  text-transform: none;
  color: #202020;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 800;
  background-color: #fff;
}

ul.nav_class ul li a:hover,
ul.nav_menu ul li a.hover {
  background: #00b4cc;
}

ul.nav_class ul ul {
  display: none;
  left: 100%;
  top: 0;
}

ul.nav_menu li div.submenu {
  position: absolute;
  width: 600px;
  z-index: 90;
  left: 0;
  top: 100%;
  overflow: hidden;
  min-height: 150px;
  background: #f0f0f0;
  transform: translate(0, 30px);
  transform-origin: 50% 0;
  visibility: hidden;
  opacity: 0;
  color: #929292;
  box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

ul.nav_menu ul,
ul.nav_menu ul li {
  display: block !important;
  border: 0 none !important;
  margin: 0 !important;
  padding: 0 !important;
}

ul.nav_menu ul li {
  background: none !important;
  float: none !important;
}

ul.nav_menu ul.verticlemenu {
  position: absolute;
  width: 33%;
  left: 0;
  top: 0;
  bottom: 0;
  background: #202020;
}

ul.nav_menu {
  position: relative;
  display: block;
  width: 65%;
  float: right;
  margin: 0 0 15px 0 !important;
}

ul.nav_menu li {
  display: block;
  overflow: hidden;
  position: relative;
  min-height: 60px;
  padding: 15px 8px 15px 110px !important;
}

ul.nav_menu li {
  position: absolute;
  left: 0;
  top: 15px;
  width: 100px;
  height: 70px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border: 1px solid #929292;
}

ul.nav_menu li {
  position: relative;
  top: -20px;
  padding: 0;
  width: 100px;
  height: 100px;
  display: block;
}

ul.nav_menu li a {
  display: block;
  line-height: 1.4;
  padding: 0 !important;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}

ul.nav_menu li a:hover {
  color: #00b4cc;
}

ul.nav_menu {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  right: 5px;
}

ul.nav_menu {
  border-bottom: 4px solid #202020;
  border-top: 4px solid #202020;
  border-left: 4px solid #fff;
  display: block;
  height: 0;
  margin-top: -4px;
  position: absolute;
  right: 11px;
  top: 50%;
  width: 0;
}

#nav_menu {
  background: #fff;
  height: 50px;
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

li.search-form {
  float: right !important;
  line-height: 50px;
  margin: 0 20px 0 0;
}

li.search-form .searchbar {
  border: none;
  padding: 10px 5px;
  background: #f9f9f9;
  color: #fff;
  width: 130px;
}

li.search-form .searchbar:focus {
  border: none;
  outline: none;
  background: #fafafa;
  color: #666;
}

li.search-form .searchsubmit {
  background: #00b4cc;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 5px;
  transition: all 0.3s ease-in-out;
}

li.search-form .searchsubmit:hover {
  opacity: 0.9;
}

.search-alert {
  color: #f9f9f9;
  padding: 2px 15px 2px 40px;
  display: none;
  margin: 5px;
  background-position: 10px;
  border-radius: 5px;
  text-transform: lowercase;
}
